<div id="header">
  <header>
    <div class="header__main clearfix">
      <div class="header__main--title">
        <%= link_to image_tag 'air-bnb.png', alt:"ロゴ", class:"logo_image" %>
      </div>
      <div class="header__main--nav">
        <ul class="header__main--nav-menu">
          <li id="username" class="header__main--title-list"><%= current_user.name %><span style="font-size: 14px;">さん</span></li>
          <li class="header__main--title-list"><%= link_to "ホストになる"%></li>
          <li class="header__main--title-list"><%= link_to "ホストになる時間がない方はこちら"%></li>
          <li class="header__main--title-list"><%= link_to "ヘルプ"%></li>
          <li id="sign-in" class="header__main--title-list"><%= link_to "アカウント作成", new_user_registration_path%></li>
          <li class="header__main--title-list"><%= link_to "ログイン", new_user_session_path%></li>
        </ul>
      </div>
    </div>
  </header>
</div>
<div class="room__main--content">
  <div id="room-image">
      <%= link_to image_tag 'room1.jpg', alt:"部屋", class:"room_image" %>
  </div>
</div>
<div id="summary">
  <div class="summary__contents">
    <div class="summary__navbar">
      <button class="navbar-button"><span class="button-text">概要</span></button>
      <button class="navbar-button"><span class="button-text">レビュー<span></button>
      <button class="navbar-button"><span class="button-text">ホストについて</span></button>
      <button class="navbar-button"><span class="button-text">所在地</span></button>
    </div>
    <div class="summary__body clearfix">
      <div class="summary__body--left">
        <div class="profile">
          <div><%= link_to image_tag 'Octocat.png', alt:"ロゴ", class: "profile-image"%>
          </div>
        </div>
      </div>
      <div class="summary__body--right">
        <h1 class="summary__body--right-title">
          Cozy and charming cottage
        </h1>
        <div class="summary__body--right-place">Biscayne Park, フロリダ州, アメリカ</div>
        <div class="icons">
          <div id="icons"><i class="fa fa-home fa-fw fa-3x" aria-hidden="true"></i></div>
          <div id="icons"><i class="fa fa-users fa-fw fa-3x" aria-hidden="true"></i></div>
          <div id="icons"><i class="fa fa-user-o fa-fw fa-3x" aria-hidden="true"></i></div>
          <div id="icons"><i class="fa fa-bed fa-fw fa-3x" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="detail">
      <div class="detail-title">
        <h4>リスティングについて</h4>
        <p>
          Our cottage is located in a very quiet residential area, 15mn to the beach. Enjoy our tropical garden and beautiful pool. Parking, TV, cable and WIFI. Located in the backyard of the main house and completely independent. No kitchen but microwave and fridge.
        </p>
      </div>
    </div>
  </div>
</div>
<hr style="margin: 0;">
<div id="review">
  <h4 class="review-counts">レビュー10件</h1>
  <hr>
  <div class="review__contents">
    <div class="review__contents--left">
      <p class="user-name">username</p>
      <p class="date">20170117</p>
    </div>
    <div class="review__contents--right">
      <p class="review__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus pharetra sem a accumsan. Etiam vitae ex cursus, tempor dolor ut, cursus nisi. Integer ac eros erat. Aenean dapibus velit diam, et rhoncus lacus faucibus in.
      </p>
    </div>
  </div>
</div>
<footer>
  <div class="footer__container">
      <div class="footer__container-top clearfix">
        <div class="language__selecter">
          <div id="language__selecter-1">
            <select class="language__selecter-text">
              <option value="en">日本語</option>
              <option value="ja">Japanese</option>
            </select>
          </div>
          <div id="language__selecter-2">
            <select class="language__selecter-text">
              <option value="en">English</option>
              <option value="ja">Japanese</option>
            </select>
          </div>
        </div>
        <div class="footer__container-right">
          <div class="info-air-bnb">
            <h1 class="bottom-info-subject">air-bnb</h1>
            <ul class="bottom-info-contents">
              <li>Airbnbとは</li>
              <li>採用情報</li>
              <li>プレス</li>
              <li>ポリシー</li>
              <li>ヘルプ</li>
              <li>ダイバーシティ＆つながる</li>
            </ul>
          </div>
          <div class="recommend">
            <h1 class="bottom-info-subject">スタッフのおすすめ</h1>
            <ul class="bottom-info-contents">
              <li>信頼&安全</li>
              <li>お友達紹介クーポン</li>
              <li>Airbnb Citizen</li>
              <li>出張</li>
              <li>ガイドブック</li>
            </ul>
          </div>
          <div class="info-hosting">
            <h1 class="bottom-info-subject">ホスティング</h1>
            <ul class="bottom-info-contents">
              <li>ホストになる理由</li>
              <li>おもてなしの心</li>
              <li>ホストの責任</li>
            </ul>
          </div>
        </div>
      <hr class="footer__divider" width="1080px">
      <div class="footer__container--bottom clearfix">
        <div class="footer__container--bottom-left">
          <p>© Airbnb, Inc.practice</P>
        </div>
        <div class="footer__container--bottom-right">
          <p class="footer__container--bottom-right-text ">利用規約とプライバシー</P>
          <p class="footer__container--bottom-right-text">サイトマップ</P>
          <span>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </span>
          <span>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </span>
          <span>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </span>
    </div>
</footer>
<div id="back-to-top" style="width: 1080px; margin: auto; text-align: center; display: none">
  <button type="button" style="border: none; background-color: #fff;">
    <span><i class="fa fa-chevron-up fa-3x fa-fw" aria-hidden="true" style="padding: 0;"></i></span>
  </button>
</div>
