<body>
  <div id="form_header">
  <header>
    <div class="header__main clearfix style="width: 100%;"">
      <div class="header__main--title">
        <a href="/"><%= image_tag 'air-bnb.png', alt:"ロゴ", class:"logo_image" %></a>
      </div>
      <div class="header__main--nav">
        <ul class="header__main--nav-menu">
          <li class="header__main--title-list" style="border-bottom:black soid 1px;"><%= link_to "ホストになる", new_room_path %></li>
          <li class="header__main--title-list"><%= link_to "ホストになる時間がない方はこちら"%></li>
          <li class="header__main--title-list"><%= link_to "ヘルプ"%></li>
          <% if user_signed_in? %>
          <li id="sign-in" class="header__main--title-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete%></li>
          <% if current_user.uid == nil %>
          <li id="username" class="header__main--title-list"><a href="/users/<%= current_user.id %>"><img class="header__main--title-list-image" src="<%= asset_path 'user_pic.png'%>"></a></li>
          <% else %>
          <li id="username" class="header__main--title-list"><a href="/users/<%= current_user.id %>"><img class="header__main--title-list-image" src="<%= current_user.image %>"></a></li>
          <% end %>
          <% else %>
          <li id="sign-in" class="header__main--title-list"><%= link_to "アカウント作成", new_user_registration_path%></li>
          <li class="header__main--title-list"><%= link_to "ログイン", new_user_session_path%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <div class="information__foom--wrapper clearfix">
    <div class="information__form--left">
      <div class="information__form--text">
        <h1>さあ、<span><%= current_user.name %>さん！ホストの準備を始めましょう。</span></h1>
      </div>
      <div id="infomation__pannel" class="infomation__pannel" style="display: none;">
        <div class="information__pannel--content">
          <h3>現在の<span  id="regionname">地名</span>の一日の平均リスティング価格。</h3>
          <h3 style="font-weight: bold; font-size: 28px;">¥<span id="average-prce">7777</span></h3>
        </div>
      </div>
      <div style="padding-top: 48px;">
        <p>リスティングの平均価格を表示します。</p>
      </div>
      <div class="region-panel" style="background: url('<%= asset_path '2530.png' %>'); background-size: cover; height: 350px; width: 350px; position: relative;">
        <ul>
          <li>
            <%= button_tag type:"submit", value:"北海道", class: "btn btn-default regionbtn hokkaido", style: "position: absolute; right: 20px; top: 46px;" do %>
            北海道
          <% end %>
        </li>
        <li>
          <%= button_tag type:"submit", value:"東北", class: "btn btn-default regionbtn", style: "position: absolute; right: 60px; top: 140px;" do %>
            東北
          <% end %>
        </li>
        <li>
          <%= button_tag type:"submit", value:"関東", class: "btn btn-default regionbtn", style: "position: absolute; right: 40px; top: 210px;" do %>
            関東
          <% end %>
        </li>
        <li>
          <%= button_tag type:"submit",value:"中部", class: "btn btn-default regionbtn", style: "position: absolute; right: 140px; bottom: 120px;" do %>
            中部
          <% end %>
        </li>
        <li>
          <%= button_tag type:"submit",value:"関西", class: "btn btn-default regionbtn", style: "position: absolute; right: 110px; bottom: 66px;" do %>
            関西
          <% end %>
        </li>
        <li>
          <%= button_tag type:"submit",value:"中国", class: "btn btn-default regionbtn", style: "position: absolute;left: 70px; bottom: 90px;" do %>
            中国
          <% end %>
        </li>
        <li>
          <%= button_tag type:"submit",value:"四国", class: "btn btn-default regionbtn", style: "position: absolute;left: 120px; bottom: 30px;" do %>
            四国
          <% end %>
        </li>
        <li>
          <%= button_tag type:"submit",value:"九州", class: "btn btn-default regionbtn", style: "position: absolute; left: 30px; bottom: 10px;" do %>
            九州
          <% end %>
        </li>
        <li>
          <%= button_tag type:"submit",value:"沖縄", class: "btn btn-default regionbtn", style: "position: absolute; right: 30px; bottom: 10px;" do %>
            沖縄
          <% end %>
        </li>
        </ul>
      </div>
    </div>
    <div class="information__form--right">
      <div class="information__form--header">
        <p>基本情報を入力してください。</p>
      </div>
      <%= form_for @room, html: {class: 'newroomform'} do |f| %>
      	<div class="form-group"> <!-- Full Name -->
          <%= f.label :Title, class:"control-label"%>
          <%= f.text_field :title, placeholder: "write awesome title ex) 渋谷まで徒歩5分!アパート 1階",class: "form-control required", autofocus: true %>
      	</div>
      	<div class="form-group"> <!-- State Button -->
      		<label for="state_id" class="control-label">Prefecture</label>
          <%= f.select :prefecture,[["都道府県"],["北海道"], ["青森"],["岩手"],["秋田"],["宮城"],["福島"],["栃木"],["群馬"],["茨城"],["埼玉"],["東京"]], {},{class: "form-control", id: "region", :prompt => "都道府県"} %>
      	</div>
        <div class="form-group">
      		<label class="control-label ">Address</label>
      		<%= f.text_field :address, placeholder: "Address", class: "form-control required", autofocus: true %>
      	</div>
        <div class="form-group">
          <label for="number">Geust</label>
          <div class="">
            <%= f.select :guest, [["1"], ["2"],["3"],["4"],["5"]], {},{class: "form-control", :prompt => "guest"} %>
          </div>
        </div>
        <div class="form-group">
          <label for="number">bedroom</label>
          <div class="">
            <%= f.select :bedroom, [["1"], ["2"],["3"],["4"],["5"]], {},{class: "form-control", :prompt => "bedroom"} %>
          </div>
        </div>
        <div class="form-group">
          <label for="number">bed</label>
          <div class="form-group">
            <%= f.select :bed, [["1"], ["2"],["3"],["4"],["5"]], {},{class: "form-control", :prompt => "bed"} %>
          </div>
        </div>
      	<div class="form-group">
      		<label class="control-label">Price</label>
      		<%= f.text_field :price, placeholder: "price", class: "form-control required", autofocus: true %>
      	</div>
        <div class="form-group">
      		<label class="control-label ">Listing</label>
          <div class="inputCount">
          <div class="count">0</div>
      		<%= f.text_area :listing, :size=>"60x8", placeholder: "wrire about your house.(within 255 words.)\n(例)6畳2部屋で4名様までお泊まりいただけます。キッチン付調理可、コンビニもすぐで便利です!", class: "form-control required", autofocus: true %>
        </div>
      	</div>
        <div class="form-group">
        	<label class="control-label">Image *こちらの画像は詳細ページの上部に表示されます。</label>
        	<%= f.file_field :price, placeholder: "price", autofocus: true %>
        </div>
        <div class="form-group"> <!-- Submit button -->
          <%= button_tag type:"submit", class: "btn btn-primary reserve" do %>
            Submit
          <% end %>
      	</div>
      <% end %>
    </div>
  </div>
</body>
