<body>
  <div id="form_header">
  <header>
    <div class="header__main clearfix style="width: 100%;"">
      <div class="header__main--title">
        <a href="/"><%= image_tag 'air-bnb.png', alt:"ロゴ", class:"logo_image" %></a>
      </div>
      <div class="header__main--nav">
        <ul class="header__main--nav-menu">
          <li class="header__main--title-list" style="border-bottom:black soid 1px;"><%= link_to "ホストになる", new_room_path %></li>
          <li class="header__main--title-list"><%= link_to "ホストになる時間がない方はこちら"%></li>
          <li class="header__main--title-list"><%= link_to "ヘルプ"%></li>
          <% if user_signed_in? %>
          <li id="sign-in" class="header__main--title-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete%></li>
          <li id="username" class="header__main--title-list"><a href="/users/<%= current_user.id %>"><%= current_user.name %><span style="font-size: 14px;">さん</span></a></li>
          <% else %>
          <li id="sign-in" class="header__main--title-list"><%= link_to "アカウント作成", new_user_registration_path%></li>
          <li class="header__main--title-list"><%= link_to "ログイン", new_user_session_path%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <div class="information__foom--wrapper clearfix">
    <div class="information__form--left">
      <div class="information__form--text">
        <h1>さあ、<span><%= current_user.name %>さん！ホストの準備を始めましょう。</span></h1>
      </div>
      <div class="infomation__pannel">
        <div class="information__pannel--content">
          <h3>現在の一週間の平均リスティング価格。</h3>
          <h3 style="font-weight: bold; font-size: 28px;">¥ 7777</h3>
        </div>
      </div>
    </div>
    <div class="information__form--right">
      <div class="information__form--header">
        <p>基本情報を入力してください。</p>
      </div>
      <%= form_for @room, html: {class: 'newroomform'} do |f| %>
      	<div class="form-group"> <!-- Full Name -->
          <%= f.label :Title, class:"control-label"%>
          <%= f.text_field :title, placeholder: "write awesome title ex) 渋谷まで徒歩5分!アパート 1階", class: "form-control", autofocus: true %>
      	</div>
      	<div class="form-group"> <!-- State Button -->
      		<label for="state_id" class="control-label">Prefecture</label>
          <%= f.select :prefecture, [["北海道"], ["青森"],["岩手"],["秋田"],["宮城"],["福島"],["栃木"],["群馬"],["茨城"],["埼玉"],["東京"]], {},{class: "form-control", :prompt => "都道府県"}%>
      	</div>
        <div class="form-group">
      		<label class="control-label ">Address</label>
      		<%= f.text_field :address, placeholder: "Address", class: "form-control", autofocus: true %>
      	</div>
        <div class="form-group">
          <label for="number">Geust</label>
          <div class="">
            <%= f.select :guest, [["1"], ["2"],["3"],["4"],["5"]], {},{class: "form-control", :prompt => "guest"} %>
          </div>
        </div>
        <div class="form-group">
          <label for="number">bedroom</label>
          <div class="">
            <%= f.select :bedroom, [["1"], ["2"],["3"],["4"],["5"]], {},{class: "form-control", :prompt => "bedroom"} %>
          </div>
        </div>
        <div class="form-group">
          <label for="number">bed</label>
          <div class="form-group">
            <%= f.select :bed, [["1"], ["2"],["3"],["4"],["5"]], {},{class: "form-control", :prompt => "bed"} %>
          </div>
        </div>
      	<div class="form-group">
      		<label class="control-label">Price</label>
      		<%= f.text_field :price, placeholder: "price", class: "form-control", autofocus: true %>
      	</div>
        <div class="form-group">
      		<label class="control-label ">Listing</label>
      		<%= f.text_area :listing, :size=>"60x8", placeholder: "wrire about your house.(within 255 words.)\n(例)6畳2部屋で4名様までお泊まりいただけます。キッチン付調理可、コンビニもすぐで便利です!", class: "form-control", autofocus: true %>
      	</div>
        <div class="form-group">
        	<label class="control-label">Image *こちらの画像は詳細ページの上部に表示されます。</label>
        	<%= f.file_field :price, placeholder: "price", autofocus: true %>
        </div>
        <div class="form-group"> <!-- Submit button -->
          <%= button_tag type:"submit", class: "btn btn-primary reserve" do %>
            Submit
          <% end %>
      	</div>
      <% end %>
    </div>
  </div>
</body>
