<!-- header表示エリア　-->
<div id="header">
  <header>
    <div class="header__main clearfix">
      <div class="header__main--title">
        <a href="/"><%= image_tag 'air-bnb.png', alt:"ロゴ", class:"logo_image" %></a>
      </div>
      <div class="header__main--nav">
        <ul class="header__main--nav-menu">
          <li class="header__main--title-list"><%= link_to "ヘルプ"%></li>
          <% if user_signed_in? %>
          <li class="header__main--title-list log-out"><%= link_to "ログアウト", destroy_user_session_path,　method: :delete%></li>
          <li id="username" class="header__main--title-list"><a href="/users/<%= current_user.id %>"><%= current_user.name %><span style="font-size: 14px;">さん</span></a></li>
          <% else %>
          <li class="header__main--title-list"><%= link_to "ログイン", new_user_session_path%></li>
          <li id="sign-in" class="header__main--title-list"><%= link_to "アカウント作成", new_user_registration_path%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
</div>
<div class="room__main--content">
  <div id="room-image">
      <%= link_to image_tag 'room1.jpg', alt:"部屋", class:"room_image" %>
  </div>
</div>
<div id="summary" class="summary__contents--wrapper clearfix" style="clear: both;">
  <div class="summary__contents" style="float: left;">
    <div class="summary__navbar">
      <a href="#listing"><button class="navbar-button"><span class="button-text">概要</span></button></a>
      <a href="#review"><button class="navbar-button"><span class="button-text">レビュー<span></button></a>
      <button class="navbar-button"><span class="button-text">ホストについて</span></button>
      <button class="navbar-button"><span class="button-text">所在地</span></button>
    </div>
    <div class="summary__body clearfix">
      <div class="summary__body--left">
        <div class="profile">
          <%= link_to image_tag 'Octocat.png', alt:"ロゴ", class: "profile-image"%>
        </div>
      </div>
      <div class="summary__body--right">
        <h1 class="summary__body--right-title">
          <%= @room.title %>
        </h1>
        <div class="summary__body--right-place">Biscayne Park, フロリダ州, アメリカ</div>
        <div class="icons">
          <div id="icons"><i class="fa fa-home fa-fw fa-3x" aria-hidden="true"></i></div>
          <div id="icons"><i class="fa fa-users fa-fw fa-3x" aria-hidden="true"></i></div>
          <div id="icons"><i class="fa fa-user-o fa-fw fa-3x" aria-hidden="true"></i></div>
          <div id="icons"><i class="fa fa-bed fa-fw fa-3x" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="refund">
      <div class="refund-content">
        <div class="bell"><i class="fa fa-bell-o fa-2x bell" aria-hidden="true"></i></div>
        <div class="refund_description"><p>開始30日前までにキャンセルすれば、サービス料を含めて全額返金されます。</p>
        </div>
      </div>
    </div>
    <div class="detail">
      <div id="listing" class="detail-title">
        <h4>リスティングについて</h4>
        <p>
          <%= @room.listing %>
        </p>
      </div>
    </div>
  </div>

  <!-- 予約フォーム　-->
  <% if user_signed_in? %>
  <div class="reservation_form" style="float: right;">
    <div class="form-price" style="margin-bottom: 10px;">
      <p>¥<%= @room.price %>　　/1泊</p>
    </div>
    <div class="form-content">
      <%= form_for @reservation, html: {class: 'reservationform'} do |f| %>
      <div style="position: relative;">
        <label class="control-label" for="">チェックイン</label>
        <%= f.text_field :start_date, placeholder: "チェックイン", class: 'form-control date-picker datepicker', style: "margin-bottom: 20px; width: 100%; height: 48px;" %>
      </div>
      <div style="position: relative;">
        <label class="control-label" for="">チェックアウト</label>
        <%= f.text_field :end_date, placeholder: "チェックアウト", class: 'form-control date-picker datepicker', style: "margin-bottom: 20px; width: 100%; height: 48px;" %>
      </div>
        <label class="control-label" for="">ゲスト</label><br>
        <%= f.select :guest, [["1"], ["2"],["3"],["4"],["5"]], {},{style: "width: 100%;", class: "form-control", :prompt => "宿泊人数"} %>
        <br>
        <div style="margin: 20px">
        <%= button_tag type:"submit", id: "reservation-btn", class: "btn btn--block reserve", style: "background-color: #FF5A5F; font-weight: 700; font-size: 22px; color: #ffffff; width: 100%;" do %>
          予約する
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<hr style="margin: 0;">

<!-- review表示エリア -->
<div id="review">
  <% if @room.reviews.exists? %>
    <h4 class="review-counts">レビュー<span><%= @room.reviews.length %></span>件</h1>
  <% else %>
    <h4 class="review-counts">レビューはまだありません。</span></h1>
  <% end %>
  <% if user_signed_in? %>
  <%= link_to 'レビューを投稿する', new_room_review_path(params[:id]), {class: "btn btn-primary"} %>
  <% end %>
  <hr>
  <div class="review__contents">
    <% @reviews.each do |review| %>
        <p class="user-name"><%= review.user.name %></p>
        <p class="date"><%= review.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
        <% if user_signed_in? && current_user.id == review.user_id %>
          <p>
           <%= review.body %>
          </p>
          <ul>
            <li>
              <%= link_to '削除', "#{review.room.id}/reviews/#{review.id}", method: :delete %>
            </li>
        <% end %>
    <% end %>
  </div>
</div>
  <div id="map"></div>
    <script type="text/javascript">

    function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}
</script>

<!-- footerエリア -->
<footer>
  <div class="footer__container">
      <div class="footer__container-top clearfix">
        <div class="language__selecter">
          <div id="language__selecter-1">
            <select class="language__selecter-text">
              <option value="en">日本語</option>
              <option value="ja">Japanese</option>
            </select>
          </div>
          <div id="language__selecter-2">
            <select class="language__selecter-text">
              <option value="en">English</option>
              <option value="ja">Japanese</option>
            </select>
          </div>
        </div>
        <div class="footer__container-right">
          <div class="info-air-bnb">
            <h1 class="bottom-info-subject">air-bnb</h1>
            <ul class="bottom-info-contents">
              <li>Airbnbとは</li>
              <li>採用情報</li>
              <li>プレス</li>
              <li>ポリシー</li>
              <li>ヘルプ</li>
              <li>ダイバーシティ＆つながる</li>
            </ul>
          </div>
          <div class="recommend">
            <h1 class="bottom-info-subject">スタッフのおすすめ</h1>
            <ul class="bottom-info-contents">
              <li>信頼&安全</li>
              <li>お友達紹介クーポン</li>
              <li>Airbnb Citizen</li>
              <li>出張</li>
              <li>ガイドブック</li>
            </ul>
          </div>
          <div class="info-hosting">
            <h1 class="bottom-info-subject">ホスティング</h1>
            <ul class="bottom-info-contents">
              <li>ホストになる理由</li>
              <li>おもてなしの心</li>
              <li>ホストの責任</li>
            </ul>
          </div>
        </div>
      <hr class="footer__divider" width="1080px">
      <div class="footer__container--bottom clearfix">
        <div class="footer__container--bottom-left">
          <p>© Airbnb, Inc.practice</P>
        </div>
        <div class="footer__container--bottom-right">
          <p class="footer__container--bottom-right-text ">利用規約とプライバシー</P>
          <p class="footer__container--bottom-right-text">サイトマップ</P>
          <span>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </span>
          <span>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </span>
          <span>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </span>
    </div>
</footer>
<div id="back-to-top" style="width: 1080px; margin: auto; text-align: center; display: none">
  <button type="button" style="border: none; background-color: #fff;">
    <span><i class="fa fa-chevron-up fa-3x fa-fw" aria-hidden="true" style="padding: 0;"></i></span>
  </button>
</div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&callback=initMap">
</script>
