<!-- header表示エリア　-->
<div id="header">
  <header>
    <div class="header__main clearfix">
      <div class="header__main--title">
        <a href="/"><%= image_tag 'air-bnb.png', alt:"ロゴ", class:"logo_image" %></a>
      </div>
      <div class="header__main--nav">
        <ul class="header__main--nav-menu">
          <li class="header__main--title-list"><%= link_to "ヘルプ"%></li>
          <% if user_signed_in? %>
          <li class="header__main--title-list log-out"><%= link_to "ログアウト", destroy_user_session_path,　method: :delete%></li>
          <li id="username" class="header__main--title-list"><a href="/users/<%= current_user.id %>"><%= current_user.name %><span style="font-size: 14px;">さん</span></a></li>
          <% else %>
          <li class="header__main--title-list"><%= link_to "ログイン", new_user_session_path%></li>
          <li id="sign-in" class="header__main--title-list"><%= link_to "アカウント作成", new_user_registration_path%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
</div>

<div class="done__wrapper">
  <h3>Reviewの削除が完了しました！</h1>
  <div style="text-align: center;">
    <%= link_to '前のページに戻る', room_path(params[:room_id]), { :class => "btn btn-primary", style: "margin: 0 auto;"}  %>
  </div>
</div>
<!-- footerエリア -->
<footer>
  <div class="footer__container">
      <div class="footer__container-top clearfix">
        <div class="language__selecter">
          <div id="language__selecter-1">
            <select class="language__selecter-text">
              <option value="en">日本語</option>
              <option value="ja">Japanese</option>
            </select>
          </div>
          <div id="language__selecter-2">
            <select class="language__selecter-text">
              <option value="en">English</option>
              <option value="ja">Japanese</option>
            </select>
          </div>
        </div>
        <div class="footer__container-right">
          <div class="info-air-bnb">
            <h1 class="bottom-info-subject">air-bnb</h1>
            <ul class="bottom-info-contents">
              <li>Airbnbとは</li>
              <li>採用情報</li>
              <li>プレス</li>
              <li>ポリシー</li>
              <li>ヘルプ</li>
              <li>ダイバーシティ＆つながる</li>
            </ul>
          </div>
          <div class="recommend">
            <h1 class="bottom-info-subject">スタッフのおすすめ</h1>
            <ul class="bottom-info-contents">
              <li>信頼&安全</li>
              <li>お友達紹介クーポン</li>
              <li>Airbnb Citizen</li>
              <li>出張</li>
              <li>ガイドブック</li>
            </ul>
          </div>
          <div class="info-hosting">
            <h1 class="bottom-info-subject">ホスティング</h1>
            <ul class="bottom-info-contents">
              <li>ホストになる理由</li>
              <li>おもてなしの心</li>
              <li>ホストの責任</li>
            </ul>
          </div>
        </div>
      <hr class="footer__divider" width="1080px">
      <div class="footer__container--bottom clearfix">
        <div class="footer__container--bottom-left">
          <p>© Airbnb, Inc.practice</P>
        </div>
        <div class="footer__container--bottom-right">
          <p class="footer__container--bottom-right-text ">利用規約とプライバシー</P>
          <p class="footer__container--bottom-right-text">サイトマップ</P>
          <span>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </span>
          <span>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </span>
          <span>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </span>
    </div>
</footer>
